<a href="https://colab.research.google.com/github/PBLEAVITT/MAT-421/blob/main/MAT421HW9_1_9_2_9_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAT421 HW 9.1,9.2,and 9.3 - Parker Leavitt

# 9.1 Base-N and Binary Numbers

Convert 36(base10) and 18(base10) to Binary. Add and Multiply the resulting numbers in Binary.

Convert 36(base10) to a Binary number

In [71]:
decimal_input1= 36;
Binary_output1=bin(decimal_input1).replace("0b","");
print(Binary_output1)

100100

Convert 18(base10) to a Binary number

In [72]:
decimal_input2= 18;
Binary_output2=bin(decimal_input2).replace("0b","");
print(Binary_output2)

10010

Adding and Multiplying the resulting numbers in Binary

In [73]:
a=int(Binary_output1);
b=int(Binary_output2);
print(a+b);
print(a*b);

110110
1002001000

Verrify Answers

In [74]:
c=int(Binary_output1, 2);
d=int(Binary_output2, 2);
print(c,d);

36 18

# 9.2 Floating Point Numbers

Float information

In [75]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Use spacing function to detirmine the gap at le7

In [76]:
import numpy as np
np.spacing(1e7)

1.862645149230957e-09

Verify that adding a number to 1e7 that is less than half the gap at 1e7 results in the same number

In [80]:
1e7 == (1e7 + np.spacing(1e7)/3)

True

**Overflow**- Occurs when numbers that are larger than the largest floating point number are capable of being represented. Python demonstrates this case as inf.

**Example of overflow**

In [81]:
sys.float_info.max+sys.float_info.max

inf

**Underflow**- Occurs when numbers are smaller than the smallest subnormal number. Python demonstrates this case as 0.

**Example of Underflow**

In [82]:
2**(-1075)

0.0

# **9.3 Round-off Errors**

**Representation Error** - The most common for of Round-off error caused by the miss representation of a number.

In [85]:
2/3

0.6666666666666666

**Floating-Point Arithmetic** - This error accures due to the floating-point not being able to be represented by an excat number which makes it an approximation. If we contiue to imput the same function this error will decrease less and less.

In [86]:
2.3-2.225==0.775

False

In [89]:
2.3-2.225

0.07499999999999973

**Another Example**

In [90]:
0.6+0.7+0.8==2.1

False

In [91]:
round(0.6+0.7+0.8)==round(2.1)

True

**Accumulation of Round-off errors** - These kind of errors can be magnifiyed of accumulated based on the ammount of iterations. The more iterations the more error you will have.

**1 iteration**

In [92]:
3+2/3-2/3

3.0

**1000, 10000, and 100000 iterations**

In [112]:
def add_and_subtract(iterations):
  result = 3
  for i in range(iterations):
    result += 2/3
  for i in range(iterations):
    result -= 2/3
  return result

print(add_and_subtract(1000));
print(add_and_subtract(10000));
print(add_and_subtract(100000));

3.000000000000015
3.0000000000002425
3.0000000000038805